# Database Configuration
DATABASE_URL="postgresql://user:password@host.neon.tech/db?sslmode=require"

# GraphQL Configuration
GRAPHQL_PLAYGROUND_ENABLED=true
GRAPHQL_INTROSPECTION_ENABLED=true

# Environment
NODE_ENV=development
PORT=3001
